html, body, button, p, img, div, h1, h2, h3, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  background: #777777;
}

.title {
  text-align: center;
  color: #ffffff;
  padding: 0.8em 0 0 0;
  font-size: 2.9em;
  font-family: Verdana, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.status, .counter {
  margin: 1em 0 1em 0;
  font-size: 2rem;
  text-align: center;
  border-top: 0.1em black solid;
  border-bottom: 0.1em black solid;
  padding: 0.5em;
  background: white;
}
.counter {

}
button {
  text-transform: uppercase;
  background: #444444;
  color: #ffffff;
  border: 2px black solid;
  font-size: 1.2rem;
}
button:hover {
  background: #ffffff;
  color: #000000;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.section {
  text-align: center;
  height: 20rem;
  display: flex;
}

.left {
  flex-direction: column;
  justify-content: space-around;
}
.reset, .hint {
  width: 10rem;
  height: 5rem;
}
.right {
  justify-content: space-between;
  align-items: center;
}
.input {
  height: 10rem;
  width: 10rem;
  text-align: center;
  font-weight: bold;
  outline: none;
  border: 2px black solid;
  font-size: 4em;
}
.input:invalid {
  background: #aa0000;
}
.submit {
  height: 10.4rem;
  width: 10rem;
  font-size: 2rem;
}
