html, body, button, p, img, div, h1, h2, h3, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  background: #777777;
  display: flex;
  flex-direction: column;
}



#inputBox {
  outline: none;
}
#inputBox:invalid {
  background: #dd0000;
}
