body {
  margin: 0 auto;
  text-align: center;
}

h1 {
  background-color: black;
  margin: 0 auto;
  padding: 0.5em 0 0.25em 0;
  color: rgba(170,0,54,1);
  font: bold 4em Helvetica, Arial, Sans-Serif;
  text-shadow: 0px 1px 1px #4d4d4d;
  font: 80px;
}

input {
  font-size: 1.2em;
  outline: none;
  background-color: rgba(0,100,0,0.5);
  border-radius: 8px;
  border: black 0.2em solid;
  width: 9em;
  height: 3.5em;
  margin: 2em auto;
  margin-bottom: 2em;
  display: inline-block;
}

.submit {
  display: block;
}

#status {

}

button {
  outline: none;
  margin: 0 auto;
  display: inline-block;
}

.guess_count {
  display: inline;
}

#guess-count {
  display: inline;
}

.out_of {
  display: inline-block;
}


/**************
PLACEHOLDER TEXT
***************/

::-webkit-input-placeholder {
  color: black;
}
:-moz-placeholder {
  color: black;
}
::-moz-placeholder {
  color: black;
}
:-ms-input-placeholder {
  color: black;
}
